.ab {
	background-color: #CC0000;
	font-size: 30px;
	text-transform: uppercase;
	color: #FFFFFF;
}
.xyz {
	background-color: #000099;
}
.unna {
	font-family: "Courier New", Courier, mono;
	font-size: 16px;
	font-style: italic;
	color: #FFFFFF;
	background-color: #006633;
}
